extensions:
	resource: Contributte\DI\Extension\ResourceExtension
	tracy.bluescreens: Contributte\Tracy\DI\TracyBlueScreensExtension
	api: Apitte\Core\DI\ApiExtension

resource:
	resources:
		App\Api\V1\Controllers\:
			paths: [%appDir%/Api/V1/Controllers]

api:
	debug: true
#	debug: %debugMode%
	catchException: true
	plugins:
		Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
		Apitte\Negotiation\DI\NegotiationPlugin:
		Apitte\Debug\DI\DebugPlugin:
			debug:
				panel: %debugMode%
				negotiation: %debugMode%
		Apitte\OpenApi\DI\OpenApiPlugin:
