extensions:
	resource: Contributte\DI\Extension\ResourceExtension
	tracy.bluescreens: Contributte\Tracy\DI\TracyBlueScreensExtension
	api: Apitte\Core\DI\ApiExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

resource:
	resources:
		App\Api\V1\Controllers\:
			paths: [%appDir%/Api/V1/Controllers]

api:
	debug: true
#	debug: %debugMode%
	catchException: true
	plugins:
		Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
		Apitte\Negotiation\DI\NegotiationPlugin:
		Apitte\Debug\DI\DebugPlugin:
			debug:
				panel: %debugMode%
				negotiation: %debugMode%
		Apitte\OpenApi\DI\OpenApiPlugin:

nettrine.fixtures:
  paths:
    - %appDir%/Fixtures
