extensions:
	resource: Contributte\DI\Extension\ResourceExtension
	tracy.bluescreens: Contributte\Tracy\DI\TracyBlueScreensExtension
	api: Apitte\Core\DI\ApiExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

resource:
	resources:
		App\Api\V1\Controllers\:
			paths: [%appDir%/Api/V1/Controllers]

api:
	debug: %debugMode%
	catchException: true
	plugins:
		Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
		Apitte\Negotiation\DI\NegotiationPlugin:
		Apitte\Debug\DI\DebugPlugin:
			debug:
				panel: %debugMode%
				negotiation: %debugMode%
		Apitte\OpenApi\DI\OpenApiPlugin:

nettrine.dbal:
  debug:
    panel: %debugMode%
    sourcePaths: [%appDir%, %srcDir%]
  connection:
    driver: pgsql
    host: %env.DATABASE_HOST%
    dbname: %env.DATABASE_NAME%
    user: %env.DATABASE_USER%
    password:  %env.DATABASE_PASSWORD%
    charset: utf8

nettrine.fixtures:
  paths:
    - %appDir%/Fixtures

nettrine.migrations:
  directory: %migrationDir%
